# file : /etc/mysql/mariadb.conf.d/50-server-multi.cnf    '50-server-multi.cnf'

[mysqld_multi]
mysqld          = /usr/bin/mysqld_safe
mysqladmin      = /usr/bin/mysqladmin
log             = /var/log/mysql/mysqld_multi.log
user=multi_admin
password=secret

